div {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid;
  }
  
  .red {
    background-color: red;
    z-index: 1;
    top: 20px;
    left: 20px;
  }
  
  .yellow {
    background-color: yellow;
    z-index: 2;
    top: 40px;
    left: 40px;
  }
  
  .blue {
    background-color: blue;
    z-index: 3;
    top: 60px;
    left: 60px;
  }